.brown-bg {
    width: 62rem;
    height: 93vh;
    min-height: 800px;
    background-color: var(--beige);
    border-radius: 12.5rem 12.5rem 0 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brown-bg-title {
    text-align: center;
}

.brown-bg-message {
    width: 75%;
    text-align: center;
}

/* laptop&landscape sizes */
@media screen and (max-height: 800px) and (min-width: 1000px) {
    .brown-bg {
        min-height: 550px;
    }
}

/*tablet sizes*/
@media screen and (max-width: 1024px) {
    .brown-bg {
        width: 100%;
        max-width: 52rem;
    }
}

/*mobile sizes*/
@media screen and (max-width: 540px) {
    .brown-bg-title {
        padding-top: 1rem;
        margin: 0.5rem;
    }
    .brown-bg {
        width: 90%;
        min-width: 280px;
        min-height: 600px;
        border-radius: 6.25rem 6.25rem 0 0;
    }
}