.brown-bg {
    width: 62rem;
    height: 93vh;
    min-height: 800px;
    background-color: var(--beige);
    border-radius: 12.5rem 12.5rem 0 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--brown);
    font-family: var(--font);
    font-size: var(--subtitle);
    font-weight: var(--semibold);
    letter-spacing: 0.39rem;
    text-align: center;
}

p {
    color: var(--brown);
    font-family: var(--font);
    font-size: var(--body);
    font-weight: var(--regular);
    width: 75%;
    text-align: center;
}

/* laptop&landscape sizes */
@media screen and (max-height: 800px) and (min-width: 1000px) {
    h1 {
        font-size: var(--tablet-title);
    }
    p {
        font-size: var(--tablet-body);
    }
    .brown-bg {
        min-height: 550px;
    }
}

/*tablet sizes*/
@media screen and (max-width: 1024px) {
    .brown-bg {
        width: 100%;
        max-width: 52rem;
    }
}

/*mobile sizes*/
@media screen and (max-width: 540px) {
    h1 {
        font-size: var(--mobile-title);
        padding-top: 1rem;
        margin: 0.5rem;
    }
    p {
        font-size: var(--mobile-body);
    }
    .brown-bg {
        width: 90vw;
        min-width: 280px;
        min-height: 400px;
        border-radius: 6.25rem 6.25rem 0 0;
    }
}