
.home-title {
    font-family: 'Urbanist', sans-serif;
    font-weight: 300;
    font-size: 8rem;
    color: #261813;

    width: 46rem;
    height: 17rem;
}

.home-descriptor {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 150%;
    color: #261813;

    width: 42rem;
    height: 5.7rem;
}

.home-primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    width: auto;
    padding: 1.6rem 2rem;

    background-color: #261813;

    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 1.9rem;
    color: white;
    text-decoration: none;
    border: none;
}

.home-primary-btn:hover {
    background-color: #8C310F;
    border: none;
}

.home-primary-btn:active {
    background-color: #671C00;
    border: none;
}

.home-secondary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
    width: auto;
    padding: 1.6rem 2rem;

    background: none;

    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 1.9rem;
    color: #261813;
    text-decoration: none;
    border: none;
}

.home-secondary-btn:hover {
    color: #8C310F;
    border: none;
}

.home-secondary-btn:active {
    color: #671C00;
    border: none;
}