.photo-gallery-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-gallery-title {
    text-align: center;
}

.photo-tiles {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.photo-view {
    background-color: rgba(38, 24, 19, 0.95);
    position: fixed;
    top: 7vh;
    width: 100vw;
    height: 93vh;
    z-index: 5;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.hidden {
    display: none;
}

.photo-button {
    position: absolute;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-icon {
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

.close {
    top: 7vh;
    right: 7vw;
}

.arrow-left {
    top: 45vh;
    left: 3rem;
}

.arrow-right {
    top: 45vh;
    right: 3rem;
}

.counter {
    color: white;
    font-family: var(--font);
    font-size: var(--body);

    position: absolute;
    bottom: 1rem;
}

.open-image {
    max-height: 550px;
    max-width: 1500px;
    object-fit: contain;
}

/*mobile sizes*/
@media screen and (max-width: 540px) {
    .photo-gallery-title {
        padding-top: 1rem;
        margin: 0.5rem;
    }

    .open-image {
        max-width: 280px;
        max-height: 500px;
    }

    .photo-icon {
        font-size: var(--mobile-title);
    }

    .arrow-left {
        left: 0.5rem;
    }

    .arrow-right {
        right: 0.5rem;
    }

    .counter {
        bottom: 5rem;
    }
}