.image {
    width: 20vw;
    height: 20vw;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: none;
}

.image:hover {
    opacity: 0.5;
    cursor: pointer;
}

.image-raw {
    height: 20vw;
}

/*mobile sizes*/
@media screen and (max-width: 540px) {
    .image {
        width: 60vw;
        min-width: 200px;
        height: 60vw;
        min-height: 200px;
    }

    .image-raw {
        height: 60vw;
    }
}