
.property-details {
    width: 100%;
    height: 58rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.property-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 86rem;
    height: fit-content;
    gap: 6rem;
}

.property-details-header {
    font-family: var(--font);
    font-weight: var(--weight-black);
    font-size: var(--subtitle);
    letter-spacing: 0.39rem;
    color: var(--brown);
}

.property-details-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.property-details-body {
    max-width: 51rem;
    height: fit-content;

    font-family: var(--font);
    font-weight: var(--regular);
    font-size: var(--body-two);
}

.property-details-icon-col {
    max-width: 28rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.property-details-icon-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;

    font-family: var(--font);
    font-weight: var(--regular);
    font-size: var(--body-two);
}


.property-details-icon {
    width: 2.8125rem;
    height: 2.8125rem;

    color: var(--burnt-umber);
}