@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500;600;900&display=swap');

:root {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;

  /* font variables */
  --font: 'Urbanist', sans-serif;
  --thin: 100;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --weight-black: 900;

  /* color variables */
  --brown: #261813;
  --burnt-umber: #8C310F;
  --dark-red: #400A05;
  --med-gray: #BFBFBF;
  --dark-gray: #5E5E5E;
  --beige: #EDE8E6;

  /* font size vars */
  --title: 5.6rem;
  --subtitle: 3rem;
  --title-two: 2rem;
  --body: 1.25rem;
  --button: 1.8rem;
  --header-one: 64px;
  --header-two: 3rem;
  --input: 20px;

  --tablet-title: 3rem;
  --tablet-subtitle: 2rem;
  --tablet-title-two: 2rem;
  --tablet-body: 1rem;
  --tablet-button: 1.5rem;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
