@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500;600;900&display=swap');

:root {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;

  /* font variables */
  --font: 'Urbanist', sans-serif;
  --thin: 100;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --weight-black: 900;

  /* color variables */
  --brown: #261813;
  --burnt-umber: #8C310F;
  --dark-red: #400A05;
  --med-gray: #BFBFBF;
  --dark-gray: #5E5E5E;
  --beige: #EDE8E6;

  /* font size vars */
  --title: 5.6rem;
  --subtitle: 3rem;
  --title-two: 2rem;
  --body: 1.25rem;
  --button: 1.8rem;
  --header-one: 64px;
  --header-two: 3rem;
  --input: 20px;

  --laptop-title: 3rem;
  --laptop-subtitle: 2rem;
  --laptop-title-two: 2rem;
  --laptop-body: 1.1rem;
  --laptop-button: 1.5rem;

  --tablet-title: 3rem;
  --tablet-subtitle: 2rem;
  --tablet-title-two: 2rem;
  --tablet-body: 1rem;
  --tablet-button: 1.5rem;

  --mobile-title: 1.8rem;
  --mobile-subtitle: 1.3rem;
  --mobile-body: 1rem;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  color: var(--brown);
  font-family: var(--font);
  font-size: var(--subtitle);
  font-weight: var(--semibold);
  letter-spacing: 0.39rem;
}

p {
  color: var(--brown);
  font-family: var(--font);
  font-size: var(--body);
  font-weight: var(--regular);
}

h2 {
  color: var(--brown);
  font-family: var(--font);
  font-size: var(--body);
  font-weight: var(--weight-black);
}

/*laptop&landscape sizes*/
@media screen and (max-height: 800px) and (min-width: 1000px) {
  h1 {
    font-size: var(--laptop-title);
  }
  h2 {
    font-size: var(--laptop-body);
  }
  p {
    font-size: var(--laptop-body);
  }
}

/*tablet sizes*/
@media screen and (max-width: 1024px) {
  h1 {
    font-size: var(--tablet-title);
  }
  h2 {
    font-size: var(--tablet-body);
  }
  p {
    font-size: var(--tablet-body);
  }
}

/*mobile sizes*/
@media screen and (max-width: 540px) {
  h1 {
    font-size: var(--mobile-title);
  }

  h2 {
    font-size: var(--mobile-body);
  }

  p {
    font-size: var(--mobile-body);
  }
}
