.card-background {
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white-background {
    background-color: white;
}

.brown-background {
    background-color: var(--beige);
}

.card-content {
    height: 83%;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.sub-content {
    height: 81%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

/*laptop&landscape sizes*/
@media screen and (max-height: 800px) and (min-width: 1000px) {

}

/*tablet sizes*/
@media screen and (max-width: 1024px) {
    .card-background {
        height: auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .sub-content {
        height: fit-content;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

/*mobile sizes*/
@media screen and (max-width: 540px) {

}